<aside class="o-link-list">
  <div class="o-link-list__aside-title">Topics mentioned in this article</div>
  <ul class="o-link-list__item-container" >
    <li><a class="o-link-list__item" href="#">item 1</a></li>
    <li><a class="o-link-list__item" href="#">item 2</a></li>
    <li><a class="o-link-list__item" href="#">item 3</a></li>
    <li><a class="o-link-list__item" href="#">item 4</a></li>
    <li><a class="o-link-list__item" href="#">item 5</a></li>
    <li><a class="o-link-list__item" href="#">item 6</a></li>
    <li><a class="o-link-list__item" href="#">item 7</a></li>
  </ul>
</aside>
