$o-link-list-is-silent: false;

@import '../../main';

.o-link-list__aside-title {
  /* Styles from oTypographySans mixin */
  font-size: 15px;
  line-height: 17px;
  font-family: MetricWeb, sans-serif;
  font-weight: 200;
}


.o-link-list__item {
  /* Styles from oTypographySansBold mixin */
  font-size: 15px;
  line-height: 17px;
  font-family: MetricWeb, sans-serif;
  font-weight: 600;
}
